@import "../../settings/_settings.scss";

body#wedding-album {
	section.video-banner#first-dance {
		.row {
			background: url('#{$url}/img/wedding-album/first-dance/first-dance-swirl@2x.png') no-repeat left;
			background-size: auto 100%;
			padding: em(30) 0 em(50);
		}
	}
}