@import "../../settings/_settings.scss";

$max-600: "only screen and (max-width : 37.500em)";


body#wedding-album {
	section#hair-makeup {

		.row.double {
			.landscape {
				@include span-columns(8 of 16);
				text-align: center;

				img {
					max-height: em(400);
					width: auto;
				}
			}
		}

		.row.triple {
			.photo {
				@include span-columns(5 of 16);
				@include shift(0.5 of 16);
			}
			.first.photo {
				@include shift(0);
			}
		}

		.row.single {
			.landscape {
				@include span-columns(10 of 16);
				@include shift(3);
				img {
					width: 100%;
					height: auto;
				}
			}
		}

		@media #{$max-600} {
			.row.triple {
				.photo {
					@include span-columns(8 of 8);
					@include shift(0);

					img {
						width: 100%;
						height: auto;
					}
				}
			}
			.row.double {
				.landscape {
					@include span-columns(8 of 8);
				}
			}
			.row.single {
				.landscape {
					@include span-columns(8 of 8);
					@include shift(0);
				}
			}
		}
	}
}

