@import "../../settings/_settings.scss";

section#memories {
	padding: em(42) 0;

	h2 {
		font-size: $h3-size;
		padding: 0 rem(10);

		@include media($max-770) {
			font-size: $h4-size;
		}
	}
}

body#wedding-album {
	.gallery {
		margin-bottom: em(60);
		
		h3 {
			margin-bottom: rem(60);
		}

		img {
			border: em(4) solid #fff;
			box-shadow: $z-3;
			margin-bottom: em(55);
		}

		.row#last-row {
			border-bottom: em(4) solid #F6C949;
		}
	}	

	.video-banner {
		background: rgba(68,68,68,0.80);
		border-top: em(5) solid $gold;
		border-bottom: em(5) solid $gold;
		margin-bottom: em(60);

		.video-wrapper {
			@include span-columns(12 of 16);
			@include shift(2);
			margin-top: rem(24);

			@include media($max-770) {
				@include span-columns(9 of 10);
				@include shift(0.5);
			}

			.iframe-wrapper {
				width: 100%;
				position: relative;
				padding-bottom: 56.25%;
				height: 0;
				overflow: hidden;
				border: em(5) solid #fff;
				box-shadow: $z-3;

				iframe {
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					position: absolute;
				}
			}
		}
	}
}
