@import "../../settings/_settings.scss";

section#memories {
	padding: em(42) 0;

	h2 {
		font-size: $h3-size;
		padding: 0 rem(10);

		@include media($max-770) {
			font-size: $h4-size;
		}
	}
}

body#wedding-album {
	section.gallery {
		margin-bottom: em(60);
		
		h3 {
			margin-bottom: rem(60);
		}

		img {
			border: em(4) solid #fff;
			box-shadow: $z-3;
			margin-bottom: em(55);
		}
	}	
}
