@import "../settings/_settings.scss";

// MISC STYLING NOTES


body {
	
	@include media($max-1070) {
		background: red !important; 
	}

	@include media($max-970) {
		background: purple !important;
	}

	@include media($max-770) {
		background: blue !important; 
	}

	@include media($max-610) {
		background: yellow !important; 
	}

	@include media($max-480) {
		background: green !important; 
	}

	@include media($max-320) {
		background: purple !important;
	}
}




