@import "../../settings/_settings.scss";

$max-400: "only screen and (max-width : 400px)";

body#index {
	background: url('/img/index/bg@default.jpg') no-repeat;
	background-size: cover;
	background-position: center top;

	text-align: center;
	padding-top: em(80);

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			display: inline-block;
			width: rem(220);
		}

		a {
			color: #fff;
			text-decoration: none;
			font-size: rem(22);
			text-shadow: 0 rem(1) rem(3) #000;
			font-family: $header-font-family;

			&:hover {
				font-weight: $title-font-weight;
			}
		}
	}

	img.wedding-crest {
		max-width: em(540);
		width: 100%;
		padding: 0 em(24);
		margin-bottom: em(15);
	}

	@media #{$max-400} {
		ul {
			li {
				width: 100%;
				margin-bottom: rem(14);
			}
		}
	}
}

@media #{$max-400} {
	body#index {

	}
}