@import "../settings/_settings.scss";


input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
input[type="color"], 
textarea {
    background-color: #FFF;
    font-family: inherit;
    border: 1px solid #CCC;
    border-radius: rem(1);
    box-shadow: 0 rem(0) rem(2) rgba(0, 0, 0, 0.2) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.875rem;
    margin: 0 0 rem(16);
    padding: rem(8);
    height: auto;
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
}


label {
    font-size: 0.875rem;
    color: #4D4D4D;
    cursor: pointer;
    display: block;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0px;
}




