@import "../settings/_settings.scss";
@import "_fonts.scss";

html {
	font-size: 1em;
}

html,
input,
button,
textarea {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	color: $text-color;
	font-weight: $body-font-weight;
	font-family: $body-font-family;
	// line-height: $baseline;
	line-height: 1.2;
}

p,
p.large {
	margin-bottom: 1.4rem;
}

a {
	color: $link-color;

	&:hover {
		text-decoration: none;
	}
}

hr {
	border: 0;
	background-color: $hr-color;
	height: em(1);
	margin: $baseline 0;
}

.header {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
}

.title {
	font-family: $header-font-family;
	font-weight: $title-font-weight;
}

h1, 
h2, 
h3, 
h4,
h5,
h6 {
	margin: .2rem auto .5rem; 
	line-height: 1.2;
	font-weight: $body-font-weight;
}

h5,
h6 {
	line-height: 1.5;
	letter-spacing: rem(1);
	text-transform: uppercase;
}

p.large {
	line-height: 1.2;
}

h1 {
	font-size: $h1-size;
}

h2 {
	font-size: $h2-size;
}

h3 {
	font-size: $h3-size;
}

h4,
p.large {
	font-size: $h4-size;
}

h5 {
	font-size: $h5-size;
}

h6 {
	font-size: $h6-size;
}

@include media($medium) {
	
	h1 {
		font-size: $h2-size;
	}

	h2 {
		font-size: $h3-size;
	}

	h3 {
		font-size: $h4-size;
	}

	h4,
	p.large {
		font-size: $h5-size;
	}

	h5 {
		font-size: $h6-size;
	}

	h6 {
		font-size: $h6-size;
	}
}

.bold {
	font-weight: $header-font-weight;
}

.white {
	color: #fff;
}

.centered-text {
	text-align: center;
}

.white.text-shadow {
	text-shadow: 0px rem(2) rem(4) #000;
}