@import "../settings/_settings.scss";

$max-400: "only screen and (max-width : 400px)";

nav {
	text-align: center;

	#crest-wrapper {
		position: absolute;
		padding: em(5) 0 0 em(20);

		a {
			img {
				max-width: em(50);
				height: auto;
			}
		}
	}

	ul {
		display: inline-block;
		padding: em(13) 0 em(8);
		margin: 0;
		list-style: none;

		li {
			float: left;

			a {
				font-size: rem(18);
				color: #fff;
				text-shadow: 0px rem(1) rem(3) #000;
				text-decoration: none;
				font-family: $header-font-family;

				&:hover {
					font-weight: $title-font-weight;
				}
			}

			a.active {
				font-weight: $title-font-weight;
			}
		}

		li#wedding-details,
		li#proposal-story {
			width: em(180);
		}

		@media #{$max-400} {
			li#wedding-details,
			li#proposal-story {
				width: em(150);

				a {
					font-size: rem(16);
				}
			}
		}
	}
}

@include media($small) {
	nav {
		#crest-wrapper {
			position: initial; 
		}

		ul {
			padding: 0 0 em(5);
		}
	}	
}

@media #{$max-400} {
	
}