@import "../../settings/_settings.scss";

$width-530: "only screen and (max-width : 33.125em)";
$height-650: "only screen and (max-height : 40.625em)";
$height-570: "only screen and (max-height : 35.625em)";



body#wedding-details {

	#tour-deiffel-bg {
		width: 100%;
		height: 100%;
		background-image: url('#{$url}/img/wedding-details/bg@default.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		position: fixed;
		z-index: -1;

		@media #{$height-650} {
			min-height: 650px;	
		}

		@media #{$height-570} {
			min-height: 570px;
		}
	}

	.height-wrapper	{
	    min-height: 70%;
	    position: relative;
	    padding-bottom: em(200);
	}

	.push-down {
    	position: absolute;
    	bottom: 0px;
	}
}


@media #{$width-530} {
	body#wedding-details {
		.height-wrapper {
			min-height: 55%;
		}
	}
}



