@import "../../settings/_settings.scss";




#location-box {
	max-width: em(600);
	width: auto;
	margin: 0 auto em(45);
	padding: em(14) em(16) em(22);

	span {
		font-size: rem(22);
	}
}


article#ceremony {
	p.large {
		margin-bottom: rem(60);
	}
}

