@import "../../settings/_settings.scss";


article#ceremony {
	h2 {
		margin-bottom: rem(26);
	}

	#location-box {
		max-width: rem(600);
		width: auto;
		margin: 0 auto rem(45);
		padding: rem(14) rem(16) rem(22);
		font-size: $h3-size;

		span {
			font-size: rem(22);
		}
	}
}





