@import "../../settings/_settings.scss";

$width-530: "only screen and (max-width : 33.125em)";
$width-400: "only screen and (max-width : 25.000em)";



.page-header {
	top: 0;
	margin-bottom: em(30);
}


#main-wrapper {
	@include span-columns(14 of 16);
	@include shift(1);
	margin-bottom: em(30);
	padding: em(20) em(16);;
}

#location-box {
	max-width: em(600);
	width: auto;
	margin: 0 auto em(45);
	padding: em(14) em(16) em(22);

	p {
		font-size: $h3-size;
	}

	span {
		font-size: rem(22);
	}
}

.content-container {
	border: em(1) solid #f1f1f1;
	background: #fff;
	box-shadow: $z-2;
	border-radius: em(3);
}

h2.container-title {
	margin-bottom: rem(18);
}


h2#more-info {
	padding: 0 rem(24);
	margin-bottom: rem(55);
}



@media #{$width-530} {
	h2#more-info {
		padding: 0;
	}
}



@media #{$width-400} {
	section.page-header {
		h1 {
			font-size: $h3-size;
		}
	}
}

