@import "../../settings/_settings.scss";

$width-530: "only screen and (max-width : 33.125em)";
$width-400: "only screen and (max-width : 25.000em)";



.page-header {
	top: 0;
	margin-bottom: em(30);
}


#main-wrapper {
	@include span-columns(14 of 16);
	@include shift(1);
	margin-bottom: em(30);
	padding: em(20) em(16);;
}

address.tldr-box {
	max-width: rem(600);
	width: auto;
	margin: 0 auto rem(45);
	padding: rem(14) rem(16) rem(22);
	font-size: $h3-size;

	hr {
		height: rem(1);
		margin: rem(24) rem(50);
	}

	span.time {
		margin-bottom: rem(10);
		display: block;
	}

	.tiny {
		font-size: rem(22);
	}

	a#map-link {
		letter-spacing: rem(1);
		text-decoration: none;
		font-size: rem(22);

		span {
			text-decoration: underline;
			color: #0000ff;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

article {
	h2 {
		margin-bottom: rem(26);
	}
}

.content-container {
	border: em(1) solid #f1f1f1;
	background: #fff;
	box-shadow: $z-2;
	border-radius: em(3);
}

h2.container-title {
	margin-bottom: rem(18);
}


h2#more-info {
	padding: 0 rem(24);
	margin-bottom: rem(55);
}


@include media($max-770) {
	address.tldr-box {
		font-size: $h4-size;

		.tiny {
			font-size: rem(16);
		}

		a#map-link {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

@media #{$width-530} {
	h2#more-info {
		padding: 0;
	}
}



@media #{$width-400} {
	section.page-header {
		h1 {
			font-size: $h3-size;
		}
	}
}

