@import "../../settings/_settings.scss";

h4#honeyfund-link {
	a {
		span {
			display: inline-block;
			text-decoration: underline;
		}

		&:hover {
			span {
				text-decoration: none;
			}
		}
	}
}