@import "../../settings/_settings.scss";

article#registry {
	p {
		text-align: left;
	}

	h4#honeyfund-link {
		a {
			span {
				display: inline-block;
				text-decoration: underline;
			}

			&:hover {
				span {
					text-decoration: none;
				}
			}
		}
	}
}
