@import "../../settings/_settings.scss";

form#rsvp-form {
	max-width: rem(600);
	width: 100%;
	margin: 0 auto;

	.form-row {
		margin-bottom: rem(22);

		span {
			text-transform: uppercase;
			font-size: rem(14);
			color: #555;
		}

		input {
			margin-top: rem(6);
		}

		.form-button {
			@include span-columns(3 of 6);

			label {
				display: initial;
			}
		}
	}

	.form-row#buttons {
		margin-bottom: 0;

		span.question {
			display: block;
			margin-bottom: rem(16);
		}

		.form-button {
			margin-bottom: rem(20);
		}

		hr {
			display: inline-block;
			width: 100%;
		}
	}

	.form-row#guest-name {
		margin-top: rem(8);
	}
}






