@import "../../settings/_settings.scss";

$width-920: "only screen and (max-width : 57.500em)";
$width-560: "only screen and (max-width : 35.000em)";



.nav-tabs {
	border-bottom: 0;
	padding: 0 em(16);

	li {
		@include span-columns(4 of 12);

		a {
			@include span-columns(3 of 4);
			@include shift(0.5);
			background-color: #fff;
			color: #000;
			border: rem(2) solid #fff;
			box-shadow: 0 rem(3) rem(3) 0 rgba(0,0,0,0.70);
			border-radius: rem(5);
			text-decoration: none;
			padding: rem(20) 0 rem(25);
			font-size: rem(30);

		    @include transition (background-color 200ms ease-out 0s);
		    @include transition (color 200ms ease-out 0s);

			&:hover,
			&:focus {
				background: rgba(119,119,119,0.80);
				color: #fff;
			}
		}
	}

	li.active {
		a {
			border: rem(2) solid #fff;
			background: rgba(119,119,119,0.80);
			box-shadow: 0 rem(3) rem(3) 0 rgba(0,0,0,0.70), inset 0 rem(3) 5px 1px rgba(0,0,0,0.80);
			text-decoration: none;
			text-shadow: 0 rem(1) rem(1) #000;
			color: #fff;

			&:hover,
			&:focus {
				border: rem(2) solid #fff;
				background: rgba(119,119,119,0.80);
				color: #fff;
			}
		}
	}
}

@media #{$width-920} {
	.nav-tabs {
		li {
			a {
				@include span-columns(5 of 6);
				@include shift(0.5);
			}
		}
	}
}

@include media($max-770) {
	.nav-tabs {
		li {
			a {
				padding: rem(12) 0 rem(14);
				font-size: $h4-size;
			}
		}
	}
}

@media #{$width-560} {
	.nav-tabs {
		li {
			@include span-columns(8 of 8);

			a {
				margin-top: rem(10);
				margin-bottom: rem(10);
			}
		}
	}
}



