@import "../../settings/_settings.scss";

$width-530: "only screen and (max-width : 530px)";
$width-400: "only screen and (max-width : 400px)";
$height-650: "only screen and (max-height : 650px)";
$height-570: "only screen and (max-height : 570px)";




body#wedding-details {

	#tour-deiffel-bg {
		width: 100%;
		height: 100%;
		background-image: url('/img/wedding-details/bg@default.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		position: fixed;
		z-index: -1;

		@media #{$height-650} {
			min-height: 650px;	
		}

		@media #{$height-570} {
			min-height: 570px;
		}
	}

	.height-wrapper	{
	    min-height: 70%;
	    position: relative;
	    padding-bottom: em(200);
	}

	.push-down {
    	position: absolute;
    	bottom: 0px;
	}
}

.page-header {
	top: 0;
	margin-bottom: em(30);
}

.nav-tabs {
	border-bottom: 0;

	li {
		@include span-columns(8 of 16);

		a {
			@include span-columns(4 of 8);
			@include shift(2);
			background-color: #fff;
			color: #000;
			border: rem(2) solid #fff;
			box-shadow: 0 rem(3) rem(3) 0 rgba(0,0,0,0.70);
			border-radius: rem(5);
			text-decoration: none;
			padding: rem(20) 0 rem(25);
			font-size: rem(30);

		    @include transition (background-color 200ms ease-out 0s);
		    @include transition (color 200ms ease-out 0s);

			&:hover,
			&:focus {
				background: rgba(119,119,119,0.80);
				color: #fff;
			}
		}
	}

	li.active {
		a {
			border: rem(2) solid #fff;
			background: rgba(119,119,119,0.80);
			box-shadow: 0 rem(3) rem(3) 0 rgba(0,0,0,0.70), inset 0 rem(3) 5px 1px rgba(0,0,0,0.80);
			text-decoration: none;
			text-shadow: 0 rem(1) rem(1) #000;
			color: #fff;

			&:hover,
			&:focus {
				border: rem(2) solid #fff;
				background: rgba(119,119,119,0.80);
				color: #fff;
			}
		}
	}
}


#main-wrapper {
	@include span-columns(14 of 16);
	@include shift(1);
	margin-bottom: em(30);
	padding: em(20) em(16);;
}

#location-box {
	max-width: em(600);
	width: auto;
	margin: 0 auto em(45);
	padding: em(14) em(16) em(22);

	span {
		font-size: rem(22);
	}
}

.content-container {
	border: em(2) solid #d0d0d0;
	background: #fff;
	box-shadow: $z-2;
	border-radius: em(3);
}

h2.container-title {
	margin-bottom: rem(18);
}

.map-container {
	@include span-columns(7 of 14);
	padding: em(16);
}

h2#more-info {
	padding: 0 rem(24);
	margin-bottom: rem(55);
}

article#ceremony {
	p.large {
		margin-bottom: rem(60);
	}
}

article#reception {
	#parking {
		margin-bottom: em(60);
	}
	#event-details {
		margin-bottom: em(70);
	}
}

@include media($max-770) {
	.nav-tabs {
		li {
			a {
				padding: rem(12) 0 rem(14);
				font-size: $h4-size;
			}
		}
	}
}

@media #{$width-530} {
	body#wedding-details {
		.height-wrapper {
			min-height: 55%;
		}
	}

	.nav-tabs {
		li {
			@include span-columns(8 of 8);

			a.ceremony {
				margin-top: rem(30);
				margin-bottom: rem(30);
			}
		}
	}

	h2#more-info {
		padding: 0;
	}
}



@media #{$width-400} {
	section.page-header {
		h1 {
			font-size: $h3-size;
		}
	}

	.nav-tabs {
		li {
			a.ceremony {
				margin-top: rem(14);
				margin-bottom: rem(30);
			}
		}
	}
}

