@import "../../settings/_settings.scss";

$min-1700: "only screen and (min-width : 1700px)";
$max-1200: "only screen and (max-width : 1200px)";
$max-1100: "only screen and (max-width : 1100px)";
$max-1024: "only screen and (max-width : 1024px)";
$max-960: "only screen and (max-width : 960px)";
$max-860: "only screen and (max-width : 860px)";
$max-740: "only screen and (max-width : 740px)";
$max-650: "only screen and (max-width : 650px)";
$max-400: "only screen and (max-width : 400px)";

#lock-bridge {

	.map-header {
		position: relative;
		width: 100%;
		height: em(550);

		background: url("/img/proposal-story/lock-bridge/lock-bridge-map.jpg") no-repeat right;
		background-size: auto 100%;

		@media #{$min-1700} {
			background-size: cover;
		}

		@media #{$max-1100} {
			background-position: inherit;
		}

		@media #{$max-1024} {
			background-position: 50% top;
			height: em(500);
		}

		@media #{$max-960} {
			height: em(460);
			background-position: right top;
		}

		@media #{$max-860} {
			height: em(430);
		}

		@include media($max-770) {
			height: em(380);
		}

		@media #{$max-740} {
			top: 0;
			position: initial;
			height: auto;
			padding-top: em(300);
			background-size: contain;
			background-position: center top;
		}

		@media #{$max-650} {
			padding-top: em(200);
		}

		@include media($max-480) {
			padding-top: em(130);
		}

		article {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			background: #fff;
			box-shadow: $z-3;
			width: em(540);
			padding: em(50) em(34);

			@media #{$max-1024} {
				width: em(480);
				padding: em(20);

				p {
					font-size: rem(20);
				}
			}

			@media #{$max-960} {
				width: em(380);

				h3 {
					font-size: $h4-size;
				}

				h2 {
					font-size: $h3-size;
				}

				p {
					font-size: rem(18);
				}
			}

			@include media($max-770) {
				p {
					font-size: rem(16);
				}
			}

			@media #{$max-740} {
				text-align: center;
				position: initial;
				height: auto;
				padding: em(20);
				width: 100%;
			}

			@media #{$max-400} {
				h3 {
					font-size: rem(20);
				}

				h2 {
					font-size: rem(26);
				}
			}
		}
	}
}