@import "../../settings/_settings.scss";

section#lock-bridge {
	height: 100%;
	width: 100%;
	left: 0;

	#fade-in {
		height: 100%;
		width: 100%;
		position: relative;

		.map-bg {
			background-image: url("/img/proposal-story/lock-bridge/lock-bridge-map.jpg");
			background-position: right top;
			position: absolute;
			background-size: contain;
			top: 50%;
			width: 100%;
			height: em(600);
		}

		.verbiage-container {
			height: 100%;
			position: absolute;
			text-align: left;
			top: 0;
			left: 0;
			width: em(540);
			background: #fff;
			box-shadow: $z-2;
			padding: em(50) em(32);

			h3 {
				margin-bottom: 0;
			}

			h2 {
				margin-top: 0;
			}
		}
	}
}

