@import "../../settings/_settings.scss";

$min-1700: "only screen and (min-width : 106.25em)";
$max-1200: "only screen and (max-width : 75em)";
$max-1100: "only screen and (max-width : 68.75em)";
$max-1024: "only screen and (max-width : 64em)";
$max-960: "only screen and (max-width : 60em)";
$max-860: "only screen and (max-width : 53.75em)";
$max-740: "only screen and (max-width : 46.25em)";
$max-650: "only screen and (max-width : 40.625em)";
$max-400: "only screen and (max-width : 25em)";

#lock-bridge {

	.map-header {
		background: url("/img/proposal-story/lock-bridge/lock-bridge-map.jpg") no-repeat right;
		background-size: auto 100%;

		@media #{$min-1700} {
			background-size: cover;
		}

		@media #{$max-1100} {
			background-position: inherit;
		}

		@media #{$max-1024} {
			background-position: 50% top;
			height: em(500);
		}

		@media #{$max-960} {
			height: em(460);
			background-position: right top;
		}

		@media #{$max-860} {
			height: em(430);
			margin-bottom: em(30);
		}

		@include media($max-770) {
			height: em(380);
		}

		@media #{$max-740} {
			height: auto;
			background-size: contain;
			background-position: center top;
		}

		@media #{$max-650} {
			padding-top: em(200);
		}

		@include media($max-480) {
			padding-top: em(130);
		}

		article {
			left: 0;
		}
	}

	h3#selfie {
		max-width: rem(920);
		padding: 0 rem(20);
		text-align: center;
		margin-bottom: rem(60);

		@media #{$max-860} {
			font-size: $h4-size;
			max-width: rem(670);
			margin-bottom: rem(40);
		}

		@include media($max-480) {
			font-size: rem(20);
		}
	}
}