@import "../../settings/_settings.scss";

$max-740: "only screen and (max-width : 46.25em)";
$max-530: "only screen and (max-width : 33.125em)";

section#louvre {
	text-align: center;

	#panorama-banner {
		height: em(500);
		background: url('/img/proposal-story/louvre/louvre-parallax.jpg') no-repeat center top;
		background-size: cover;
		padding-top: em(50);
		margin-bottom: em(60);

		h2 {
			font-size: $h1-size;
		}
	}

	#louvre-pyramid {
		margin-bottom: em(60);
		position: relative;

		img {
			box-shadow: $z-3;
		}

		.verbiage-container {
			position: absolute;
			bottom: em(30);
			width: em(480);
			left: em(40);

			p {
				text-shadow: 0 rem(2) rem(3) #000;
				color: #fff;
				margin: 0;
			}

			@include media($max-970) {
				width: em(420);
				left: em(20);

				p {
					font-size: rem(18);
				}
			}

			@include media($max-770) {
				width: em(390);
			}

			@media #{$max-740} {
				width: 100%;
				left: 0;
				bottom: 5%;
				padding: 0 em(20);
			}

			@media #{$max-530} {
				position: relative;
				bottom: initial;
				top: 0;
				padding: em(20) 0 0;

				p {
					font-size: rem(16);
				}
			}
		}
	}

	#louvre-gardens {
		h3,
		h4 {
			text-align: center;
			margin-bottom: rem(50);
		}
		h4 {
			max-width: rem(530);
		}
	}
}