@import "../../settings/_settings.scss";

section#parallax-ring {
	background-image: url("/img/proposal-story/ring/ring-parallax.jpg");
	height: 800px;
	position: relative;
	top: 0;
	width: 100%;
	left: 0;
}

section#ring {
	position: relative;
}




