@import "../../settings/_settings.scss";

#parallax-ring {
	background-image: url("/img/proposal-story/ring/ring-parallax.jpg");
	height: 140%;
	width: 100%;

	.fade-out {
		height: 100%;
		width: 100%;
	}
}





