@import "../../settings/_settings.scss";


video#bgvid {
	position: absolute;
	top: 0;
	left: 50%;
	width: 100%;
	height: auto;
	-webkit-transform: translateX(-50%) translateY(0);
	transform: translateX(-50%) translateY(0);
	background: url('/img/proposal-story/video/splash/poster.jpg') no-repeat;
	background-size: cover;
}

body#proposal-story {
	.relative-wrapper {
		height: 100%;
	}

	#intro {
		position: absolute;
		width: 80%;
		left: 10%;
		height: 100%;
		text-align: center;
		z-index: 1;
		top: 0;
		padding-top: em(130);

		h1,
		h2 {
			margin-bottom: rem(60);
		}

		h3 {
			margin-bottom: rem(100);
		}

		img {
			// bottom: em(100);
			max-width: em(55);
		}
	}
}