@import "../../settings/_settings.scss";
@import "_videos.scss";
// @import "_gfycat.scss";
@import "_parallax-ring.scss";
@import "_proposal-opportunity-section.scss";
@import "_lock-bridge.scss";
@import "_notre-dame.scss";
@import "_louvre-gardens.scss";
@import "_sacre-coeur.scss";
@import "_sacre-coeur-dark.scss";

#skrollr-body {
	height: 100%;
}

.hide {
	display: none;
}

h3#coming-soon {
	text-align: center;
	margin-bottom: rem(60);
	padding: 0 rem(10);
}

.mobile-only {
	display: none;
}

.show {
	display: block !important;
}