@import "../../settings/_settings.scss";
@import "_videos.scss";
@import "_visual-effects.scss";
@import "_lock-bridge.scss";

#skrollr-body {
	height: 100%;
}

body#proposal-story {

	#intro {
		text-align: center;
		padding: em(130) em(40) em(100);

		h1,
		h2 {
			margin-bottom: rem(60);
		}

		h3 {
			margin-bottom: rem(100);
		}

		img {
			max-width: em(55);
		}
	}
}