@import "../../settings/_settings.scss";

$max-1445: "only screen and (max-width : 1445px)";
$max-1200: "only screen and (max-width : 1200px)";
$max-1024: "only screen and (max-width : 64em)";
$max-960: "only screen and (max-width : 60em)";
$max-740: "only screen and (max-width : 46.25em)";

#sacre-coeur.proposal-opportunity {
	h1 {
		margin-bottom: rem(45);
	}

	.map-header {
		background: url("#{$url}/img/proposal-story/sacre-coeur/sacre-coeur.jpg") no-repeat left top;
		width: em(1445);
		margin: 0 auto;
		background-size: em(900);
		height: em(600);

		h2 {
			position: absolute;
			right: rem(600);
			top: rem(60);
			padding-left: rem(30);
			min-width: rem(330);

			span {
				display: inline-block;
			}
		}

		@media #{$max-1445} {
			background-size: em(900) auto;
			width: 100%;
		}

		@media #{$max-1200} {
			background-position: -100px top;

			h2 {
				left: rem(30);
				padding: 0;
			}
		}

		article {
			width: em(560);
			padding: em(36) em(30) 0;
		}

		@media #{$max-1024} {
			article {
				width: em(400);
			}
		}

		@media #{$max-960} {
			height: em(520);
			background-size: auto em(520);
		}

		@include media($max-770) {
			height: em(450);
			background-size: auto em(450);
		}

		@media #{$max-740} {
			background-size: cover;
			background-position: 50%;
			padding-top: em(350);
			width: 100%;
			position: relative;

			h2 {
				position: relative;
				top: rem(-250);
				left: 0;
				text-align: center;
				padding: 0;
				min-width: initial;
			}

			article {
				width: 100%;
				padding: em(20);
				margin-bottom: em(40);
			}
		}
	}
}