@import "../../settings/_settings.scss";

$max-1445: "only screen and (max-width : 1445px)";
$max-1200: "only screen and (max-width : 1200px)";

#sacre-coeur.proposal-opportunity {
	h1 {
		margin-bottom: rem(45);
	}

	.map-header {
		background: url("#{$url}/img/proposal-story/sacre-coeur/sacre-coeur.jpg") no-repeat left top;
		// background-size: auto em(600);
		background-size: cover;
		height: em(600);

		@media #{$max-1445} {
			background-size: em(880) auto;
		}

		@media #{$max-1200} {
			background-position: -100px top;
		}

		article {
			width: em(560);
			padding: em(36) em(30) 0;
		}
	}
}